.header-title {
  margin-bottom: 2rem;
  h2 {
    // font: normal normal 300 2rem/3rem montserrat-light;
    color: #6c7175;
    font-size: 2rem !important;
    line-height: 3rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0;
  }
}
